
body{
  background-color: rgb(78, 78, 79);
}

.contenedor{
  padding: 20px;
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 300px; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  margin-left: 10%;

  border: 1px solid #04AA6D;
}

.sub1{
  display: flex;
  align-items: center;
}
.sub1 h1{
  color: white;
}

.sub2{
  background-color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}
  
thead{
  background-color: #04AA6D;
  color: white;
}

th, td {
  
  height: 30px;

  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th:nth-child(3){
  border-right: 2px solid rgb(215, 214, 214);
}

td:nth-child(3){
  border-right: 2px solid #04AA6D;
}
  
tbody > tr:nth-child(even){background-color: #dfdede}

tbody > tr:hover {background-color: rgb(200, 198, 198);}

